[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
genetic-algorithm = {editable = true, git = "https://github.com/javidahmed64592/genetic-algorithm"}
neural-network = {editable = true, git = "https://github.com/javidahmed64592/neural-network"}

[dev-packages]
ruff = "*"

[requires]
python_version = "3.11"

[scripts]
main = "python main.py"
ruff = "python -m ruff check ."
